<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sumitroy.uicheck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScreenOne">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ScreenTwo" />
        <activity android:name=".ScreenThree" />
        <activity
            android:name=".ScreenFour"
            android:label="Services"
            android:parentActivityName=".ScreenThree" />
        <activity
            android:name=".ScreenFive"
            android:label="Settings"
            android:parentActivityName=".ScreenFour" />
        <activity android:name=".ScreenSix"
            android:label="Booking"
            android:parentActivityName=".ScreenFive"></activity>
    </application>

</manifest>